#boxAboutMe {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 35px;
}

.boxAboutMe2 {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 1100px;
  text-align: justify;
}

.textAboutMe {
  margin-top: 10px;
  margin-bottom: 10px;
}

.certificaciones {
  margin-left: 25px;
  margin-top: 10px;
  line-height: 1.5;
}
