#titleSkills {
  margin-top: 100px;
  color: white;
  margin-bottom: 20px;
  font-size: 35px;
  justify-self: center;
}

.titleSectionSkill {
  color: black;
  justify-self: center;
  margin-bottom: 20px;
  color: #1976d2;
  font-size: 25px;
}

.boxFrontend,
.boxBackend,
.boxDataBase,
.boxTolls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skill {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .skill {
    width: 80px;
    height: 80px;
  }
  .boxSkills {
    width: 400px;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  #titleSkills {
    font-size: 25px;
  }
  .titleSectionSkill {
    font-size: 20px;
  }
  .boxSkills {
    width: 300px;
  }
  .skill {
    width: 60px;
    height: 60px;
  }
}

/* 

@media (max-width: 1000px) {
  .skill {
    width: 80px;
    height: 80px;
  }
  .subBoxSkills {
    width: 700px;
  }
  .subBoxFrontend {
    flex-direction: column;
    margin-left: 20px;
  }
  .subBoxSkills2 {
    flex-direction: column;
    align-items: center;
  }
  .boxBackend {
    margin-right: 0px;
    margin-left: 20px;
  }
  .boxDataBase {
    margin-left: 20px;
  }
  .boxTolls {
    margin-left: 20px;
  }
}

@media (max-width: 700px) {
  .titleSkills {
    font-size: 25px;
  }
  .section {
    font-size: 20px;
  }
  .skill {
    width: 50px;
    height: 50px;
  }
} */
