#boxProjects {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleProjects {
  color: white;
  margin-bottom: 20px;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.projectImg {
  width: 350px;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-right: 40px;
  transition: 0.5s;
}

.projects {
  display: flex;
}

.project-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 350px;
  height: 250px;
  margin: 20px;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 10px;
  text-align: center;
}

.project-container:hover .project-info {
  opacity: 1;
}

@media (max-width: 1300px) {
  .projects {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .project-container {
    width: 300px;
    height: 200px;
  }
  .projectImg {
    width: 300px;
    height: 200px;
  }
  .titleProjects {
    font-size: 25px;
  }
}

@media (max-width: 550px) {
  .projectImg {
    width: 250px;
    height: 150px;
  }
  .project-container {
    width: 250px;
    height: 150px;
  }
}
