#boxHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

h1 {
  color: white;
  font-size: 50px;
}

.profession {
  color: #1976d2;
  margin-bottom: 10px;
  font-size: 25px;
}

.homeText {
  color: white;
  width: 400px;
  margin-right: 450px;
  font-size: large;
}

.profilePhoto {
  width: 300px;
  border-radius: 50px;
}

.buttonsHome {
  margin-top: 15px;
}

@media (max-width: 1300px) {
  .homeText {
    margin-right: 150px;
  }
  .profilePhoto {
    width: 210px;
  }
}

@media (max-width: 1000px) {
  #boxHome {
    flex-direction: column;
  }
  .homeText {
    text-align: justify;
    width: 550px;
    margin-right: 0px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 30px;
  }
  .profession {
    font-size: 20px;
  }
  .homeText {
    font-size: 15px;
    width: 350px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 25px;
  }
  .profession {
    font-size: 15px;
  }
  .homeText {
    width: 250px;
  }
}
