.boxHome {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.presentation {
  flex-direction: column;
  color: white;
  width: 500px;
  margin-right: 350px;
}

h1 {
  font-size: 50px;
}

.profession {
  color: #1976d2;
  font-size: 25px;
  margin-bottom: 20px;
}

.textPresentation {
  font-size: large;
}

.botones {
  display: flex;
  margin-top: 15px;
}

.linkedin {
  margin-right: 15px;
}

.profilePhoto {
  width: 300px;
  border-radius: 100px;
}

@media (max-width: 1300px) {
  .profilePhoto {
    width: 250;
  }
  .presentation {
    margin-right: 150px;
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .boxHome {
    flex-direction: column;
  }
  .profilePhoto {
    width: 200px;
  }
  .presentation {
    width: 550px;
    text-align: justify;
    margin-right: 0px;
  }
}

@media (max-width: 700px) {
  .presentation {
    width: 400px;
  }
  .textPresentation {
    font-size: 15px;
    width: 350px;
  }
  .profession {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
  .presentation {
    display: flex;
    align-items: center;
  }
}
